<div class="row">
    <div class="col-md-6 mx-auto">
        <h1>List of courses</h1>



        <input 
        
                placeholder="NewCourse" 
                class="form-control" 
                type="text" 
                [(ngModel)]="myCourse.label">


        <button (click) = "addCourse()" *ngIf="!editable" class="btn btn-block btn-primary">
            <i class="fa fa-send"> Add Course</i>
        </button>
        <button (click)="updateCourse()" *ngIf="editable == true" class="btn btn-block btn-warning">
            <i class="fa fa-refresh"> Update Course</i>
        </button>
       
       
        <ul class='list-group'>

            <li 
                class="list-group-item" 
                *ngFor="let course of courses; index as i"
            >

                {{ course.label }}

                <div 
                        (click)= "editCourse(course)" 
                        class="text-right">

                    <button class="btn btn-warning btn-sm mr-1">
                <i class="fa fa-pencil"></i>

                </button>

                <button 
                            (click)="deleteCourse(i)" 
                            class="btn btn-dark btn-sm">

                <i class="fa fa-trash"></i>
                </button>

                </div>
            </li>
        </ul>
        
    </div>
</div>